body {
    font-family: consolas;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 20%;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgb(134, 0, 175) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    padding-top: 50px;
    opacity: 0.5;
}

.posts {
    width: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #2a2d3d;
}

.logo {
    padding-top: 50px;
}

.post {
    text-align: left;
}